.header {
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
}
.headerContainer{
    display: flex;
    height: 100%;
    font-size: 18px;
}
.headerContainer svg{
    margin: auto 0;
}
.nav{
    height: 100%;
    flex: auto;
}

.logOut{
    font-family: 'Roboto', sans-serif;
    color: #1390E5;
    margin: auto 20px;
    cursor: pointer;
}

.navItem{
    float: left;
    text-align: right;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    height: 100%;
    margin-left: 40px;
    color: rgba(39, 39, 39, 0.3);
    line-height: 80px;
}
.active {
    color: #1390E5;
    border-bottom: 2px solid #1390E5;
}

@media screen and (max-width: 443px){
    .headerContainer{
        font-size: 14px;
    }
    .navItem{
        margin-left: 20px;
    }
}