.formControl.error input,
.formControl.error textarea
{
    border: solid red 1px;
}

.formControl.error span
{
    color: red;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    margin-top: 2px;
}

.formControl{
    flex: auto;
}